{
  "log": {
    "_recordingName": "Incident Teams/Get details of an incident team returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "2451e7bf61bcfb7aa32974f20ad8c18b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Typescript-Get_details_of_an_incident_team_returns_OK_response-1613477592.199\"},\"type\":\"teams\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/teams"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 958,
            "text": "{\"included\":[{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"created_at\":\"2019-10-02T08:15:39.795051+00:00\",\"email\":\"frog@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\",\"title\":null,\"verified\":true,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}],\"data\":{\"type\":\"teams\",\"id\":\"f7b67250-c937-5824-9749-98962a9fd7de\",\"attributes\":{\"name\":\"Typescript-Get_details_of_an_incident_team_returns_OK_response-1613477592.199\",\"created\":\"2021-02-16T12:13:12.466201+00:00\",\"modified\":\"2021-02-16T12:13:12.466201+00:00\"},\"relationships\":{\"last_modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3914737"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "100"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "48"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "96"
            },
            {
              "name": "x-dd-debug",
              "value": "/L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 320,
      },
      {
        "_id": "ff2f77ec1cdddd570f43ce1ea9f10538",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/teams/f7b67250-c937-5824-9749-98962a9fd7de"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 534,
            "text": "[\"1f8b0800000000000003ad90bd6ec3300c84df456ba380926dc9f20b64e8d025bb405[...]
