{
  "log": {
    "_recordingName": "Logs Metrics/Get all log-based metrics returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "390447fecd90a684ff007d50d9ca0626",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":{},\"filter\":{\"query\":\"source:Typescript-Get_all_log_based_metrics_returns_OK_response-1612949783197\"}},\"id\":\"Typescript-Get_all_log_based_metrics_returns_OK_response-1612949783197\",\"type\":\"logs_metrics\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 174,
            "text": "{\"errors\":[\"input_validation_error(Field 'data.attributes.compute.aggregation_type' is invalid: Invalid aggregation type: 'null', supported types are: distribution, count)\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-period",
              "value": "300"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "217"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "296"
            },
            {
              "name": "x-dd-version",
              "value": "35.3879632"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 340,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
