{
  "log": {
    "_recordingName": "Metrics/Delete a Tag Configuration returns \"No Content\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "e181e10158f341474eb9ecb7108756fb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"metric_type\":\"distribution\",\"tags\":[\"app\",\"datacenter\",\"TypescriptDeleteaTagConfigurationreturnsNoContentresponse1613477610843\"]},\"id\":\"TypescriptDeleteaTagConfigurationreturnsNoContentresponse1613477610843\",\"type\":\"manage_tags\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/TypescriptDeleteaTagConfigurationreturnsNoContentresponse1613477610843/tags"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 378,
            "text": "{\"data\":{\"type\":\"manage_tags\",\"id\":\"TypescriptDeleteaTagConfigurationreturnsNoContentresponse1613477610843\",\"attributes\":{\"tags\":[\"datacenter\",\"app\",\"TypescriptDeleteaTagConfigurationreturnsNoContentresponse1613477610843\"],\"include_percentiles\":false,\"created_at\":\"2021-02-16T12:13:31.112612+00:00\",\"updated_at\":\"2021-02-16T12:13:31.112612+00:00\",\"metric_type\":\"distribution\"}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3914737"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "50"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "29"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "47"
            },
            {
              "name": "x-dd-debug",
              "value": "F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 323,
      },
      {
        "_id": "61da7707c0a77aa905b4699a7e61b009",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/metrics/TypescriptDeleteaTagConfigurationreturnsNoContentresponse1613477610843/tags"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 0
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3914737"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "50"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "29"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "46"
            },
            {
              "name": "x-dd-debug",
              "value": "nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 318,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
