{
  "log": {
    "_recordingName": "Incident Services/Get details of an incident service returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "eca3ec87c4642b35ae4d1c0c39fcbe79",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Typescript-Get_details_of_an_incident_service_returns_OK_response-1612886007187\"},\"type\":\"services\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/services"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 963,
            "text": "{\"included\":[{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"created_at\":\"2019-10-02T08:15:39.795051+00:00\",\"email\":\"frog@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\",\"title\":null,\"verified\":true,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}],\"data\":{\"type\":\"services\",\"id\":\"8536b672-ac8d-58d3-b027-5ce25844d581\",\"attributes\":{\"name\":\"Typescript-Get_details_of_an_incident_service_returns_OK_response-1612886007187\",\"created\":\"2021-02-09T15:53:27.501990+00:00\",\"modified\":\"2021-02-09T15:53:27.501990+00:00\"},\"relationships\":{\"last_modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3873506"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "100"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "33"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "96"
            },
            {
              "name": "x-dd-debug",
              "value": "F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 351,
      },
      {
        "_id": "a6ab3cc9d6b606bf3d08cd06ff516364",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/services/8536b672-ac8d-58d3-b027-5ce25844d581"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 540,
            "text": "[\"1f8b0800000000000003ad903d6ec3300c85efa2b55141c9d68f7d810e1dba6417[...]
