{
  "log": {
    "_recordingName": "Monitors/Get a monitor's details returns \"Monitor Not Found error\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "9d19a76b1e938b1823b1eaf27384b6c4",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v1/monitor/12345"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 108,
            "text": "[\"1f8b0800000000000003ab564a2d2aca2f2a56b28a56f2cdcfcb2cc92f52c8cb2f5148cb2fcd4b518aad0500bc1f4a0c20000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "3000"
            },
            {
              "name": "x-ratelimit-period",
              "value": "10"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "6"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "2999"
            },
            {
              "name": "x-dd-version",
              "value": "35.3873506"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 449,
      },
      {
        "_id": "40e5ee911e1bc6df3c089edfcb1650d8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/msgpack"
            },
            {
              "name": "datadog-meta-tracer-version",
              "value": "0.30.0"
            },
            {
              "name": "datadog-meta-lang",
              "value": "nodejs"
            },
            {
              "name": "datadog-meta-lang-version",
              "value": "v14.13.1"
            },
            {
              "name": "datadog-meta-lang-interpreter",
              "value": "v8"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/msgpack",
            "params": []
          },
          "queryString": [],
          "url": "http://127.0.0.1:8126/v0.4/traces"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 230,
            "text": "{\"rate_by_service\":{\"service:,env:\":1,\"service:cucumber/cucumber,env:\":1,\"service:cucumber/cucumber,env:none\":1,\"service:cucumber/cucumber-tcp,env:\":0.1085241178650919,\"service:cucumber/cucumber-tcp,env:none\":0.1085241178650919}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 5,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
