{
  "log": {
    "_recordingName": "Logs Metrics/Get a log-based metric returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "6a544ec842977e63c8cc4f6972a20a51",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":{\"aggregation_type\":\"count\"},\"filter\":{\"query\":\"source:Typescript-Get_a_log_based_metric_returns_OK_response-1613477605.781\"}},\"id\":\"Typescript-Get_a_log_based_metric_returns_OK_response-1613477605.781\",\"type\":\"logs_metrics\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 378,
            "text": "[\"1f8b08000000000000038d8f410ac2400c45ef9275158bda4a2fe0c2851b7722613a8dc38076c624b310f1eea650105cb9fb7c92ff782f189c3ae85e1007e8e0f4cc249e6356dc93a2c35b0ad83ba101efa41c3d3269e151f078b028398d425837f57ad3b6cd6abb6c773554e0d46efba224d3f235de94784a8f42fc348ca4c29eba2f6df13f6df1437b571038958cbd2d9f2f15f874cf869e782e04a6e034a611d5d40ced531915def635176628b39c58ff01cd65148d11010000\"]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-dd-version",
              "value": "35.3914737"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-period",
              "value": "300"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "94"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "292"
            },
            {
              "name": "content-disposition",
              "value": "inline"
            },
            {
              "name": "x-dd-debug",
              "value": "25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 613,
      },
      {
        "_id": "7adffcb8998dbfa82c100afc11aff099",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics/Typescript_Get_a_log_based_metric_returns_OK_response_1613477605.781"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 378,
            "text": "[\"1f8b08000[...]
