{
  "log": {
    "_recordingName": "Roles/Remove a user from a role returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "8c4f439809eaca1061f1d207e2a31bc8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Typescript-Remove_a_user_from_a_role_returns_OK_response-1613477648.985\"},\"type\":\"roles\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/roles"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 614,
            "text": "[\"1f8b08000000000000038d91db6ac3300c86dfc5b7ab8b7c880f79855e0c46efc60876ac3243d304db1d8c92779fb28dd1ab6dba92e45f9fd0ef1b4ba105d6df587b5f90f5accc67ac6cc772a2c23a8428bde1163ae04260e45e759aa76043020f1492b4a1b592e3b5d120812e61da4047e2d5b1e4a5f1279ce6371cc270ad5886539927cab74543c1762d973a3c1e28adcb7ca9c885114a5b6bb4db7bd7117e2c181aa62134c24a90828324d551c85ee81efc5e1a61a47d00e801483fcd299ff2bf07d61d2b780e2dd3f6d7bc7cdeb0609972ad5b6b2bbf3c7afe31e9fef9dbaae4e1649c029e54729b559e076b038f4a83c60e3da264ebee3784d65ad0d5234f2e8a3b8488cefb003a2ad07f21848dc128c3651ac9c9edc39c1e819b38621721f984c0d69795e203fbf6576bfa010000\"]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3914737"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "500"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "51"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "474"
            },
            {
              "name": "x-dd-debug",
              "value": "L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 351,
      },
      {
        "_id": "e8cb0316260acc50cca55781516efff1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/msgpack"
            },
            {
              "name": "datadog-meta-tracer-version",
              "value": "0.30.0"
            },
            {
              "name": "datadog-meta-lang",
              "value": "nodejs"
            },
            {
              "name": "datadog-meta-lang-version",
              "value": "v14.13.1"
            },
            {
              "name": "datadog-meta-lang-interpreter",
              "value": "v8"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/msgpack",
            "params": []
          },
          "queryString": [],
          "url": "http://127.0.0.1:8126/v0.4/traces"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 196,
            "text": "{\"rate_by_service\":{\"service:,env:\":1,\"service:cucumber/cucumber,env:\":1,\"service:cucumber/cucumber,env:none\":1,\"service:cucumber/cucumber-tcp,env:\":1,\"service:cucumber/cucumber-tcp,env:none\":1}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 4,
      },
      {
        "_id": "0d2de16a69bfa304a2c0640f25d8cc0a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Remove_a_user_from_a_role_returns_OK_response-1613477648.985@datadoghq.com\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 657,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"791661ca-7050-11eb-9354-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-remove_a_user_from_a_role_returns_ok_response-1613477648.985@datadoghq.com\",\"created_at\":\"2021-02-16T12:14:09.611585+00:00\",\"email\":\"typescript-remove_a_user_from_a_role_returns_ok_response-1613477648.985@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/374f4d81aab343c87a0fc6974321e35c?s=48&d=retro\",\"title\":null,\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3914737"
            },
            {
              "name": "x-dd-debug",
              "value": "PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q"
            }
  [...]
