{
  "log": {
    "_recordingName": "Users/List all users returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "dccad0dab384bc6d019907b14622c52e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-List_all_users_returns_OK_response-1612949804249@datadoghq.com\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 633,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"7ce8ae74-6b83-11eb-9287-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-list_all_users_returns_ok_response-1612949804249@datadoghq.com\",\"created_at\":\"2021-02-10T09:36:44.542685+00:00\",\"email\":\"typescript-list_all_users_returns_ok_response-1612949804249@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/7e55da68ba106466b0ebad8703770f98?s=48&d=retro\",\"title\":null,\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3879632"
            },
            {
              "name": "x-dd-debug",
              "value": "L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 411,
      },
      {
        "_id": "2bcdd7350d220f390c0aeb30f3fdf4d4",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": "typescript-list_all_users_returns_ok_response-1612949804249@datadoghq.com"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/users?filter=typescript-list_all_users_returns_ok_response-1612949804249%40datadoghq.com"
  [...]
