{
  "log": {
    "_recordingName": "Incident Services/Update an existing incident service returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "f0f7ad10baac9d02c91177cf677cecd4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Typescript-Update_an_existing_incident_service_returns_OK_response-1613477589.101\"},\"type\":\"services\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/services"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 965,
            "text": "{\"included\":[{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"created_at\":\"2019-10-02T08:15:39.795051+00:00\",\"email\":\"frog@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\",\"title\":null,\"verified\":true,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}],\"data\":{\"type\":\"services\",\"id\":\"dde79e4c-e461-5297-a961-fcd37a56928e\",\"attributes\":{\"name\":\"Typescript-Update_an_existing_incident_service_returns_OK_response-1613477589.101\",\"created\":\"2021-02-16T12:13:09.377946+00:00\",\"modified\":\"2021-02-16T12:13:09.377946+00:00\"},\"relationships\":{\"last_modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3914737"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "100"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "51"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "95"
            },
            {
              "name": "x-dd-debug",
              "value": "dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 330,
      },
      {
        "_id": "caf06f30824a69175b7c7f73c0becaa4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Typescript-Update_an_existing_incident_serv[...]
