{
  "log": {
    "_recordingName": "Users/Get a user permissions returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "e7296e340271d264a2b22e16b71a0579",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Get_a_user_permissions_returns_OK_response-1612886039752@datadoghq.com\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 649,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"064bddca-6aef-11eb-925a-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-get_a_user_permissions_returns_ok_response-1612886039752@datadoghq.com\",\"created_at\":\"2021-02-09T15:54:00.028097+00:00\",\"email\":\"typescript-get_a_user_permissions_returns_ok_response-1612886039752@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/19c270a28d43b0591f468d67c1dc930e?s=48&d=retro\",\"title\":null,\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3873506"
            },
            {
              "name": "x-dd-debug",
              "value": "Wjq53IVIwnB4SiR238oOYgHFMq/ZYP0LQ/Dv8C2fFLBwTje/dWJHu6pI6vIOK1zG"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 392,
      },
      {
        "_id": "25804a49be4bcdf2b608ed7f542dff8c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/064bddca-6aef-11eb-925a-da7ad0900002/permissions"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 11,
            "text": "{\"data\":[]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3873506"
            },
            {
              "name": "x-dd-debug",
              "value": "nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 309,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
