{
  "log": {
    "_recordingName": "Users/Get a user returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "5f532f0a28885d530160180fc8a7e310",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Get_a_user_returns_OK_response-1612949803333@datadoghq.com\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 625,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"7c5d494c-6b83-11eb-9287-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-get_a_user_returns_ok_response-1612949803333@datadoghq.com\",\"created_at\":\"2021-02-10T09:36:43.629458+00:00\",\"email\":\"typescript-get_a_user_returns_ok_response-1612949803333@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/da82303db5b0508a472624a4e82a5cb4?s=48&d=retro\",\"title\":null,\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3879632"
            },
            {
              "name": "x-dd-debug",
              "value": "PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 415,
      },
      {
        "_id": "22edea17c630275f44a70d36786dc871",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/7c5d494c-6b83-11eb-9287-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 792,
            "text": "[\"1f8b0800000000000003ad524d6fe4200cfd2f1c7ad9618610f22955ed4fe8a1b7aa8[...]
