{
  "log": {
    "_recordingName": "Incident Services/Get a list of all incident services returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "10ef39bd55c153e6ffe6ebd55c1690f1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Typescript-Get_a_list_of_all_incident_services_returns_OK_response-1612886006212\"},\"type\":\"services\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/services"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 964,
            "text": "{\"included\":[{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"created_at\":\"2019-10-02T08:15:39.795051+00:00\",\"email\":\"frog@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\",\"title\":null,\"verified\":true,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}],\"data\":{\"type\":\"services\",\"id\":\"8e126a2d-f823-53de-9ec0-5eb9b5c9f879\",\"attributes\":{\"name\":\"Typescript-Get_a_list_of_all_incident_services_returns_OK_response-1612886006212\",\"created\":\"2021-02-09T15:53:26.481955+00:00\",\"modified\":\"2021-02-09T15:53:26.481955+00:00\"},\"relationships\":{\"last_modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3873506"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "100"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "34"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "97"
            },
            {
              "name": "x-dd-debug",
              "value": "tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 326,
      },
      {
        "_id": "2a4c5c8ceee8172f385472494fc29855",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": "Typescript-Get_a_list_of_all_incident_services_returns_OK_response-1612886006212"
            }
          ],
          "url": "https://api.datadoghq.com/api/v2/services?filter=Typescript-Get_a_list_of_all_incident_services_returns_OK_response-16[...]
