{
  "log": {
    "_recordingName": "Logs/Aggregate events returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "24ff20d2e7aa371872a0b2f723f78cf7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"compute\":[{\"aggregation\":\"count\",\"interval\":\"300\",\"metric\":\"test.aggregation.Typescript-Aggregate_events_returns_OK_response-1612949784276\",\"type\":\"timeseries\"}],\"filter\":{\"from\":\"1600348573\",\"indexes\":[\"main\"],\"query\":\"datadog-agent\",\"to\":\"1600348600\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/analytics/aggregate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 300,
            "text": "[\"1f8b0800000000000003ab56ca4d2d4954b2aa562a2e492c292d56b2524ac9cf4b55d2512a4a2d2c4d2d2e89cf4c018a05bb4545241a0439a7ba0605f9b9961484e6fab90456e514f8ba241b86465498fa1a1714f91a1664fb1a5444048516e486e7467924bb79154686853901cd4acd492c284e051a6450aba3949208b130a934393bb5046863746c6d2d00b379b8b488000000\"]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3879632"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-period",
              "value": "300"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "216"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "299"
            },
            {
              "name": "x-dd-debug",
              "value": "LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 348,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
