{
  "log": {
    "_recordingName": "Logs Metrics/Update a log-based metric returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "ef5b81562be7dfb96ae77cd8e2d51b8f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":{\"aggregation_type\":\"count\"},\"filter\":{\"query\":\"source:Typescript-Update_a_log_based_metric_returns_OK_response-1613477607.869\"}},\"id\":\"Typescript-Update_a_log_based_metric_returns_OK_response-1613477607.869\",\"type\":\"logs_metrics\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 380,
            "text": "[\"1f8b0800000000000003958fc10ac2400c44ff25e72a8ad26a7fc183173d8984ed362e0bda5d93ec41a4ff6e0a05c19bb7613299c7bca177eaa07d43eca185d32b93788e59f19ced42e8f09e02764ea8c70729478f4c5a78103c1e4c4a4e8310aeebf566db34f5aa59eeea3d54e0d4b25d5192a9fc16ef4a3ca967217e194952614fed17b8f80bb8f8018e15044e256367e5976b053e3db2d127a40b8129388d6940b58146f7a90c0aa37dcd868d94799f98ff01e58aee4a17010000\"]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-dd-version",
              "value": "35.3914737"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-period",
              "value": "300"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "92"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "290"
            },
            {
              "name": "content-disposition",
              "value": "inline"
            },
            {
              "name": "x-dd-debug",
              "value": "F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 681,
      },
      {
        "_id": "8cb63c1748c638aca38171b8be837bff",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"filter\":{\"query\":\"source:Typescript-Update_a_log[...]
