{
  "log": {
    "_recordingName": "Logs Metrics/Delete a log-based metric returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "9820c6fe4d1c3ddca6a37e623900b0af",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"compute\":{\"aggregation_type\":\"count\"},\"filter\":{\"query\":\"source:Typescript-Delete_a_log_based_metric_returns_OK_response-1613477604.753\"}},\"id\":\"Typescript-Delete_a_log_based_metric_returns_OK_response-1613477604.753\",\"type\":\"logs_metrics\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 380,
            "text": "[\"1f8b0800000000000003958f310bc2400c85ff4be62a8ab585ce6e0e2e6e22e17a8dc741ed9d496e10e97f37054170737b3c92f7f1bd6070eaa07b411ca083f33393788e59f1402329a1c33105ec9dd08077528e1e99b4f024783a5a949c2621dc36db5dddb6cda65eb7fb1d54e0d46efba224cbf82d8e4abca447217e1a4952614fdd17b8fa0bb8fa01ce15044e25636fe3976b053eddb3d117a40b8129388d69423541a3fb542685d9be3e8549cac74fac7f03fd146a6c17010000\"]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "x-dd-version",
              "value": "35.3914737"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "300"
            },
            {
              "name": "x-ratelimit-period",
              "value": "300"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "95"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "293"
            },
            {
              "name": "content-disposition",
              "value": "inline"
            },
            {
              "name": "x-dd-debug",
              "value": "dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 575,
      },
      {
        "_id": "03cb0c391f6b70ae63c8a82bb2446779",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/logs/config/metrics/Typescript_Delete_a_log_based_metric_returns_OK_response_1613477604.753"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 2,
            "text": "{}"
    [...]
