{
  "log": {
    "_recordingName": "Incident Teams/Update an existing incident team returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "3ecc54092cb701d258d56fcbc3598f09",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"name\":\"Typescript-Update_an_existing_incident_team_returns_OK_response-1612949770725\"},\"type\":\"teams\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/teams"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 958,
            "text": "{\"included\":[{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"name\":null,\"handle\":\"frog@datadoghq.com\",\"created_at\":\"2019-10-02T08:15:39.795051+00:00\",\"email\":\"frog@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\",\"title\":null,\"verified\":true,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Active\"},\"relationships\":{\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}],\"data\":{\"type\":\"teams\",\"id\":\"e9ef18ec-9657-5e2a-88f0-6c73994bbe02\",\"attributes\":{\"name\":\"Typescript-Update_an_existing_incident_team_returns_OK_response-1612949770725\",\"created\":\"2021-02-10T09:36:11.020088+00:00\",\"modified\":\"2021-02-10T09:36:11.020088+00:00\"},\"relationships\":{\"last_modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3879632"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "100"
            },
            {
              "name": "x-ratelimit-period",
              "value": "60"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "49"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "95"
            },
            {
              "name": "x-dd-debug",
              "value": "/L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 327,
      },
      {
        "_id": "e28fc3da9b870aa080b16ffca218110e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/msgpack"
            },
            {
              "name": "datadog-meta-tracer-version",
              "value": "0.30.0"
            },
            {
              "name": "datadog-meta-lang",
              "value": "nodejs"
            },
            {
              "name": "datadog-meta-lang-version",
              "value": "v14.13.1"
            },
            {
              "name": "datadog-meta-lang-interpreter",
              "value": "v8"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/msgpack",
            "params": []
          },
          "queryString": [],
          "url": "http://127.0.0.1:8126/v0.4/traces"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 196,
            "text": "{\"rate_by_service\":{\"service:,env:\":1,\"service:cucumber/cucumber,env:\":1,\"service:cucumber/cucumber,env:none\":1,\"service:cucumber/cucumber-tcp,env:\":1,\"service:cucumber/cucumber-tcp,env:none\":1}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 4,
      },
      {
        "_id": "cb65d48445f26a8a4895e000b9f896e8",
 [...]
