{
  "log": {
    "_recordingName": "Incidents/Update an existing incident returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "3ac40ec22a2831c1a804273accd504d6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"title\":\"Typescript-Update_an_existing_incident_returns_OK_response-1612886016548\"},\"type\":\"incidents\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/incidents"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3104,
            "text": "{\"data\":{\"type\":\"incidents\",\"id\":\"7e6f48b8-74da-5f1d-b306-e20b54897b9d\",\"attributes\":{\"public_id\":18180,\"title\":\"Typescript-Update_an_existing_incident_returns_OK_response-1612886016548\",\"resolved\":null,\"customer_impact_scope\":null,\"customer_impact_start\":null,\"customer_impact_end\":null,\"customer_impacted\":false,\"notification_handles\":null,\"last_modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\",\"name\":null,\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\"}}},\"last_modified_by_uuid\":null,\"created\":\"2021-02-09T15:53:36.821282+00:00\",\"modified\":\"2021-02-09T15:53:36.821282+00:00\",\"commander\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\",\"name\":null,\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\"}}},\"detected\":\"2021-02-09T15:53:36.819229+00:00\",\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\",\"name\":null,\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\"}}},\"created_by_uuid\":null,\"creation_idempotency_key\":null,\"customer_impact_duration\":0,\"time_to_detect\":0,\"time_to_repair\":0,\"time_to_internal_response\":0,\"time_to_resolve\":0,\"fields\":{\"severity\":{\"type\":\"dropdown\",\"value\":\"UNKNOWN\"},\"detection_method\":{\"type\":\"dropdown\",\"value\":\"unknown\"},\"root_cause\":{\"type\":\"textbox\",\"value\":null},\"teams\":{\"type\":\"autocomplete\",\"value\":null},\"state\":{\"type\":\"dropdown\",\"value\":\"active\"},\"services\":{\"type\":\"autocomplete\",\"value\":null}},\"severity\":\"UNKNOWN\",\"state\":\"active\",\"non_datadog_creator\":null,\"udf_values\":null},\"relationships\":{\"created_by_user\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"last_modified_by_user\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"commander_user\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"user_defined_field_selections\":{\"data\":[{\"type\":\"user_defined_selection\",\"id\":\"8afb0451-f7a5-53e0-adf1-124c9409fef8\"},{\"type\":\"user_defined_selection\",\"id\":\"ca40360d-0af5-586d-afde-8954546e9521\"},{\"type\":\"user_defined_selection\",\"id\":\"e4a8269e-1a6a-5af9-83e0-d6d5e9a05dc5\"}]},\"user_defined_fields\":{\"data\":[{\"type\":\"user_defined_field\",\"id\":\"299616f7-8acd-5403-886b-991656d6b982\"},{\"type\":\"user_defined_field\",\"id\":\"ad2b9456-eaec-5bbd-9bae-e502d74e23f8\"},{\"type\":\"user_defined_field\",\"id\":\"623af0a5-f30c-577e-8146-09b8324bdb2d\"},{\"type\":\"user_defined_field\",\"id\":\"d8a54f16-8b2a-5ab4-87b8-5f0fa575c83e\"},{\"type\":\"user_defined_field\",\"id\":\"66b62f59-48f6-5fee-969a-0886b1db6dcd\"},{\"type\":\"user_defined_field\",\"id\":\"4148ead2-da45-548e-b6be-8e319bafc425\"}]},\"integrations\":{\"data\":[]},\"attachments\":{\"data\":[]},\"responders\":{\"data\":[]}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3873506"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "400"
            },
            {
              "name": "x-ratelimit-period",
              "value": "3600"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "384"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "380"
            },
            {
              "name": "x-dd-debug",
              "value": "nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 498,
      },
      {
        "_id": "5fc20d98a2196302ce404d02c1d4be65",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/msgpack"
            },
            {
              "name": "datadog-meta-tracer-version",
              "value": "0.30.0"
            },
            {
              "name": "datadog-meta-lang",
              "value": "nodejs"
            },
            {
              "name": "datadog-meta-lang-version",
              "value": "v14.13.1"
            },
            {
              "name": "datadog-meta-lang-interpreter",
              "value": "v8"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/msgpack",
            "params": []
          },
          "queryString": [],
          "url": "http://127.0.0.1:8126/v0.4/traces"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 196,
            "text": "{\"rate_by_service\":{\"service:,env:\":1,\"service:cucumber/cucumber,env:\":1,\"service:cucumber/cucumber,env:none\":1,\"service:cucumber/cucumber-tcp,env:\":1,\"service:cucumber/cucumber-tcp,env:none\":1}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 3,
      },
      {
        "_id": "a57cef247d119be0563586fe1831f75c",
 [...]
