{
  "log": {
    "_recordingName": "Users/Disable a user returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "b781df3391ca0cd6b6a359ef9742a355",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Disable_a_user_returns_OK_response-1612949800221@datadoghq.com\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 633,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"7a81d3ae-6b83-11eb-9287-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-disable_a_user_returns_ok_response-1612949800221@datadoghq.com\",\"created_at\":\"2021-02-10T09:36:40.513398+00:00\",\"email\":\"typescript-disable_a_user_returns_ok_response-1612949800221@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/ef53fa69b94f11eae426cffb7a616640?s=48&d=retro\",\"title\":null,\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3879632"
            },
            {
              "name": "x-dd-debug",
              "value": "vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 378,
      },
      {
        "_id": "185275dafde752cf7f8d4a6eaf5bc2a0",
        "request": {
          "headers": [
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users/7a81d3ae-6b83-11eb-9287-da7ad0900002"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 0
          },
          ],
          "headers": [
            {
              "name": "content[...]
