{
  "log": {
    "_recordingName": "Incidents/Create an incident returns \"CREATED\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "0a2560376c3f812501b25794b10ee885",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Create_an_incident_returns_CREATED_response-1612949771524@datadoghq.com\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 651,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"69e14b60-6b83-11eb-9287-da7ad0900002\",\"attributes\":{\"name\":null,\"handle\":\"typescript-create_an_incident_returns_created_response-1612949771524@datadoghq.com\",\"created_at\":\"2021-02-10T09:36:12.616592+00:00\",\"email\":\"typescript-create_an_incident_returns_created_response-1612949771524@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/68dc15e7ec9881a51b7b684b9bfb5fb2?s=48&d=retro\",\"title\":null,\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3879632"
            },
            {
              "name": "x-dd-debug",
              "value": "Wjq53IVIwnB4SiR238oOYgHFMq/ZYP0LQ/Dv8C2fFLBwTje/dWJHu6pI6vIOK1zG"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 1183,
      },
      {
        "_id": "8a1d220cb29bd541252b9ee00bb981ac",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"fields\":{\"state\":{\"type\":\"dropdown\",\"value\":\"resolved\"}},\"title\":\"Typescript-Create_an_incident_returns_CREATED_response-1612949771524\"},\"relationships\":{\"commander\":{\"data\":{\"id\":\"69e14b60-6b83-11eb-9287-da7ad0900002\",\"type\":\"users\"}}},\"type\":\"incidents\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/incidents"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3232,
            "text": "{\"data\":{\"type\":\"incidents\",\"id\":\"1c596402-02d7-52d2-97d4-7674129b7a8f\",\"attributes\":{\"public_id\":18336,\"title\":\"Typescript-Create_an_incident_returns_CREATED_response-1612949771524\",\"resolved\":null,\"customer_impact_scope\":null,\"customer_impact_start\":null,\"customer_impact_end\":null,\"customer_impacted\":false,\"notification_handles\":null,\"last_modified_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\",\"name\":null,\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\"}}},\"last_modified_by_uuid\":null,\"created\":\"2021-02-10T09:36:13.017829+00:00\",\"modified\":\"2021-02-10T09:36:13.017829+00:00\",\"commander\":{\"data\":{\"type\":\"users\",\"id\":\"69e14b60-6b83-11eb-9287-da7ad0900002\",\"attributes\":{\"uuid\":\"69e14b60-6b83-11eb-9287-da7ad0900002\",\"handle\":\"typescript-create_an_incident_returns_created_response-1612949771524@datadoghq.com\",\"email\":\"typescript-create_an_incident_returns_created_response-1612949771524@datadoghq.com\",\"name\":null,\"icon\":\"https://secure.gravatar.com/avatar/68dc15e7ec9881a51b7b684b9bfb5fb2?s=48&d=retro\"}}},\"detected\":\"2021-02-10T09:36:13.015931+00:00\",\"created_by\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"attributes\":{\"uuid\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\",\"handle\":\"frog@datadoghq.com\",\"email\":\"frog@datadoghq.com\",\"name\":null,\"icon\":\"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro\"}}},\"created_by_uuid\":null,\"creation_idempotency_key\":null,\"customer_impact_duration\":0,\"time_to_detect\":0,\"time_to_repair\":0,\"time_to_internal_response\":0,\"time_to_resolve\":0,\"fields\":{\"severity\":{\"type\":\"dropdown\",\"value\":\"UNKNOWN\"},\"detection_method\":{\"type\":\"dropdown\",\"value\":\"unknown\"},\"root_cause\":{\"type\":\"textbox\",\"value\":null},\"teams\":{\"type\":\"autocomplete\",\"value\":null},\"state\":{\"type\":\"dropdown\",\"value\":\"resolved\"},\"services\":{\"type\":\"autocomplete\",\"value\":null}},\"severity\":\"UNKNOWN\",\"state\":\"resolved\",\"non_datadog_creator\":null,\"udf_values\":null},\"relationships\":{\"created_by_user\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"last_modified_by_user\":{\"data\":{\"type\":\"users\",\"id\":\"3ad549bf-eba0-11e9-a77a-0705486660d0\"}},\"commander_user\":{\"data\":{\"type\":\"users\",\"id\":\"69e14b60-6b83-11eb-9287-da7ad0900002\"}},\"user_defined_field_selections\":{\"data\":[{\"type\":\"user_defined_selection\",\"id\":\"02d5b130-d5b6-5c2e-90e1-de310b187300\"},{\"type\":\"user_defined_selection\",\"id\":\"019b5e90-e110-5283-9c15-c1af35d1eccc\"},{\"type\":\"user_defined_selection\",\"id\":\"293ef144-07ff-592e-a4e1-c7aef4dbcac6\"}]},\"user_defined_fields\":{\"data\":[{\"type\":\"user_defined_field\",\"id\":\"299616f7-8acd-5403-886b-991656d6b982\"},{\"type\":\"user_defined_field\",\"id\":\"ad2b9456-eaec-5bbd-9bae-e502d74e23f8\"},{\"type\":\"user_defined_field\",\"id\":\"623af0a5-f30c-577e-8146-09b8324bdb2d\"},{\"type\":\"user_defined_field\",\"id\":\"d8a54f16-8b2a-5ab4-87b8-5f0fa575c83e\"},{\"type\":\"user_defined_field\",\"id\":\"66b62f59-48f6-5fee-969a-0886b1db6dcd\"},{\"type\":\"user_defined_field\",\"id\":\"4148ead2-da45-548e-b6be-8e319bafc425\"}]},\"integrations\":{\"data\":[]},\"attachments\":{\"data\":[]},\"responders\":{\"data\":[]}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3879632"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "400"
            },
            {
              "name": "x-ratelimit-period",
              "value": "3600"
            },
            {
   [...]
