{
  "log": {
    "_recordingName": "Users/Create a user returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "4e96ac9bc85b3d733ef61c7e5c9328a3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Create_a_user_returns_OK_response-1612886036765@datadoghq.com\",\"name\":\"Datadog API Client Python\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 654,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"04851678-6aef-11eb-925a-da7ad0900002\",\"attributes\":{\"name\":\"Datadog API Client Python\",\"handle\":\"typescript-create_a_user_returns_ok_response-1612886036765@datadoghq.com\",\"created_at\":\"2021-02-09T15:53:57.047427+00:00\",\"email\":\"typescript-create_a_user_returns_ok_response-1612886036765@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/ddb071e2cabc560987246e16fd59c13f?s=48&d=retro\",\"title\":null,\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3873506"
            },
            {
              "name": "x-dd-debug",
              "value": "vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 412,
      },
      {
        "_id": "ee201c850649cb2a708b2e963ed0b619",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/msgpack"
            },
            {
              "name": "datadog-meta-tracer-version",
              "value": "0.30.0"
            },
            {
              "name": "datadog-meta-lang",
              "value": "nodejs"
            },
            {
              "name": "datadog-meta-lang-version",
              "value": "v14.13.1"
            },
            {
              "name": "datadog-meta-lang-interpreter",
              "value": "v8"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/msgpack",
            "params": []
          },
          "queryString": [],
          "url": "http://127.0.0.1:8126/v0.4/traces"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 196,
            "text": "{\"rate_by_service\":{\"service:,env:\":1,\"service:cucumber/cucumber,env:\":1,\"service:cucumber/cucumber,env:none\":1,\"service:cucumber/cucumber-tcp,env:\":1,\"service:cucumber/cucumber-tcp,env:none\":1}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 7,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
