{
  "log": {
    "_recordingName": "Users/Create a user returns \"OK\" response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "d9f771dbf7db41e73d494d228235113f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"attributes\":{\"email\":\"Typescript-Create_a_user_returns_OK_response-1612949799719@datadoghq.com\",\"name\":\"Datadog API Client Python\"},\"type\":\"users\"}}"
          },
          "queryString": [],
          "url": "https://api.datadoghq.com/api/v2/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 654,
            "text": "{\"data\":{\"type\":\"users\",\"id\":\"7a366068-6b83-11eb-9287-da7ad0900002\",\"attributes\":{\"name\":\"Datadog API Client Python\",\"handle\":\"typescript-create_a_user_returns_ok_response-1612949799719@datadoghq.com\",\"created_at\":\"2021-02-10T09:36:40.019193+00:00\",\"email\":\"typescript-create_a_user_returns_ok_response-1612949799719@datadoghq.com\",\"icon\":\"https://secure.gravatar.com/avatar/ea99fcee7eff027c7b6ba38d10f9ceab?s=48&d=retro\",\"title\":null,\"verified\":false,\"service_account\":false,\"disabled\":false,\"allowed_login_methods\":[],\"status\":\"Pending\"},\"relationships\":{\"roles\":{\"data\":[]},\"org\":{\"data\":{\"type\":\"orgs\",\"id\":\"4dee724d-00cc-11ea-a77b-570c9d03c6c5\"}}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-dd-version",
              "value": "35.3879632"
            },
            {
              "name": "x-dd-debug",
              "value": "F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 395,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
